[submodule "themes/hugo-notepadium-mod"]
	path = themes/hugo-notepadium-mod
	url = https://github.com/qdzhang/hugo-notepadium-mod.git
[submodule "themes/hugo-dead-simple"]
	path = themes/hugo-dead-simple
	url = https://github.com/barklan/hugo-dead-simple
